*{
    margin:0px;
    padding:0px;
}

form{
    display:block;
}

form{
    width:100%;
}

form.button{
  margin:7px 0px;  
}


.user-details .input-box input{
    padding-left: 6px;
    width:100%;
    margin:0px 2px;
    font-size:13px;
    
}
.s{
    font-size:13px;
    padding-left: 6px;
    width:100%;
}
.container .title::before {
    width: 150px;
}

form .button input{
    width:200% ;
}